header {
    display: flex;
    background-color: #db7533;
    height: 60px;
    justify-content: space-between;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    padding: 0 20px;
}

.header-main h2 {
    margin-left: 20px;
}

.nav-btn {
    color:white;
    font-size: 20px;
    background-color: #db7533;
    border: 0;
    cursor: pointer;
    margin: 0px 10px;
}

.nav-btn:hover {
    color: rgb(255, 128, 0);
    background-color: rgb(253, 226, 71);
    border: 2 solid rgb(253, 226, 71);
    border-radius: 5px;
    box-shadow:5px 5px 5px rgb(165, 74, 0)
}


